.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
composer.lock

./.vagrant/
./vendor/
./config/development.config.php
./data/cache/*
./!data/cache/.gitkeep
./phpunit.xml
./composer.lock
